body{
    background-image: url("https://cdn.britannica.com/89/131089-050-A4773446/flowers-garden-petunia.jpg?w=300");
    background-repeat: no-repeat;
}

@media only screen and (min-width: 400px) {
    body{
        background-image: url("https://cdn.britannica.com/84/73184-050-05ED59CB/Sunflower-field-Fargo-North-Dakota.jpg?w=400&h=300&c=crop");
    }
}

.box1{
    margin-top: 230px;
    background-color: red;
}
@media only screen and (min-width:600px){
    .box1{
        background-color: aqua;
    }
}